.all-news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .news-list {
    padding: 30px;
    overflow-y: auto;
    width: 60%;
    height: 90%;
  }
  .news-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    .search-input-container {
      /* align-self: flex-start; */
      width: 35%;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border: 1px solid #414141;
      border-radius: 8px;
      &:focus-within {
        border: 1px solid #d86d3c;
        background-color: #eae1de;
        .search-icon {
          fill: #414141;
        }
      }
      .news-search-input {
        width: 100%;
        /* height: 24px; */
        border: none;
        background-color: inherit;
        padding: 0 10px;
        letter-spacing: 0.7px;
      }
      .search-icon {
        fill: #d86d3c;
      }
    }
    .news-sort-options {
      height: 40px;
      border-radius: 4px;
      margin-left: 10px;
      background-color: inherit;
      padding: 0 4px;
      &:focus {
        outline: none;
        border: 1px solid #d86d3c;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .all-news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .news-list {
      padding: 30px;
      overflow-y: auto;
      width: 90%;
      height: 90%;
    }
    .news-actions {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 24px;
      .search-input-container {
        /* align-self: flex-start; */
        width: 35%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border: 1px solid #414141;
        border-radius: 8px;
        &:focus-within {
          border: 1px solid #d86d3c;
          background-color: #eae1de;
          .search-icon {
            fill: #414141;
          }
        }
        .news-search-input {
          width: 100%;
          /* height: 24px; */
          border: none;
          background-color: inherit;
          padding: 0 10px;
          letter-spacing: 0.7px;
        }
        .search-icon {
          fill: #d86d3c;
        }
      }
      .news-sort-options {
        height: 40px;
        border-radius: 4px;
        margin-left: 10px;
        background-color: inherit;
        padding: 0 4px;
        &:focus {
          outline: none;
          border: 1px solid #d86d3c;
        }
      }
    }
  }
}
