.news-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 48px;
  .back-icon {
    align-self: flex-start;
    cursor: pointer;
    &:hover {
      fill: #d36330;
    }
  }
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .news-title {
      display: flex;
      text-align: left;
      font-size: 28px;
      max-width: 700px;
    }
    .news-subtitle {
      display: inline-block;
      text-align: left;
      margin-top: 20px;
      color: #525252;
    }
    .author-info {
      margin-top: 20px;
      .avatar {
        width: 50px;
      }
      .full-name {
        font-size: 14px;
      }
      .job {
        font-size: 11px;
      }
      .about {
        font-size: 11px;
        margin-right: 20px;
      }
      .date {
        font-size: 16px;
        color: #525252;
      }
    }
  }
  .news-text {
    text-align: left;
    margin-top: 20px;
    width: 40%;
    line-height: 30px;
  }
  .news-image {
    margin-top: 30px;
    width: 500px;
    border-radius: 4px;
  }
  .loading-animation {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .news-details-container {
    margin-top: 10%;
    .title-container {
      .news-title {
        font-size: 20px;
      }
      .news-subtitle {
        margin-top: 20px;
      }
      .author-info {
        margin-top: 20px;
        .avatar {
          width: 35px;
        }
        .full-name {
          font-size: 12px;
        }
        .job {
          font-size: 9px;
        }
        .about {
          font-size: 9px;
          margin-right: 20px;
        }
        .date {
          font-size: 11px;
          color: #525252;
        }
      }
    }
    .news-text {
      text-align: left;
      margin-top: 20px;
      width: 60%;
      line-height: 25px;
    }
    .news-image {
      margin-top: 30px;
      width: 35%;
      border-radius: 4px;
    }
    .loading-animation {
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .news-details-container {
    margin-top: 10%;
    justify-content: flex-start;
    .title-container {
      .news-title {
        font-size: 15px;
      }

      .author-info {
        margin-top: 20px;
        .avatar {
          width: 35px;
        }
        .full-name {
          font-size: 12px;
        }
        .job {
          font-size: 9px;
        }
        .about {
          font-size: 9px;
          margin-right: 20px;
        }
        .date {
          font-size: 11px;
          color: #525252;
        }
      }
    }
  }
}
