.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  z-index: 1000;
}
.modal-overlay {
  align-items: center;
  justify-content: center;
}
.message {
  justify-content: flex-end;
  align-items: stretch;
  height: 100vh;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #f8f5ed;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  z-index: 1001;
  padding: 7px;
  .close-icon {
    align-self: flex-end;
    fill: #777777;
    cursor: pointer;

    &:hover {
      fill: #df6258;
      transform: scale(1.1);
    }
  }
}
