.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 999;

  .logo {
    width: 4%;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }

  .navigation-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-card-wrapper {
    justify-self: flex-end;
  }
}

@media screen and (max-width: 1100px) {
  .navigation-container {
    align-items: flex-start;
    height: 100%;
    .logo {
      width: 30px;
      margin-right: 10px;
    }

    .navigation-links {
      margin-top: 2px;
    }

    .user-card-wrapper {
      margin-top: 10px;
      align-self: center;
    }
  }
  .navigation-links {
    justify-content: space-between;
  }
}
