.main-title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #202020;

  text-decoration-color: #303030;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
